@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 245; /* Cinza claro para um visual moderno */
  --background-end-rgb: 255, 255, 255;   /* Branco no fim do gradiente */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 50, 60, 70;  /* Cinza azulado mais claro */
    --background-end-rgb: 30, 40, 50;    /* Cinza azulado mais escuro */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)), /* Começo do gradiente com cinza claro */
      rgb(var(--background-end-rgb))    /* Fim do gradiente com branco */
    );
  font-family: 'Arial', sans-serif; /* Fonte limpa */
}
